<h1>Orion Progress Report</h1>

<article class="chart">
  <h1>New Business</h1>
  <p>Clients and locations new to G5 on Orion only</p>

  <table>
    <tr>
      <th><%= @new_biz_orion_clients.quantity %></th>
      <th><%= @new_biz_orion_locations.quantity %></th>
    </tr>
    <tr>
      <td><data style="height: <%= @new_biz_orion_clients.quantity %>px">  <%= @new_biz_orion_clients.quantity  %></data></td>
      <td><data style="height: <%= @new_biz_orion_locations.quantity %>px"><%= @new_biz_orion_locations.quantity %></data></td>
    </tr>
    <tr>
      <th>Clients</th>
      <th>Locations</th>
    </tr>
  </table>
</article>


<article class="chart">
  <h1>Core to Orion Client Conversions</h1>
  <p>Websites completely migrated off of Core</p>

  <table>
    <tr>
      <th><%= @core_to_orion_client_conversions.quantity %></th>
      <th><%= @core_to_orion_location_conversions.quantity %></th>
    </tr>
    <tr>
      <td><data style="height: <%= @core_to_orion_client_conversions.quantity %>px">  <%= @core_to_orion_client_conversions.quantity  %></data></td>
      <td><data style="height: <%= @core_to_orion_location_conversions.quantity %>px"><%= @core_to_orion_location_conversions.quantity %></data></td>
    </tr>
    <tr>
      <th>Clients</th>
      <th>Locations</th>
    </tr>
  </table>
</article>


<article class="chart chart-comparison">
  <h1>Total Clients</h1>

  <table>
    <tr>
      <th><%= @core_clients.quantity %></th>
      <th><%= @orion_clients.quantity %></th>
    </tr>
    <tr>
      <td><data style="height: <%= @core_clients.quantity %>px"> <%= @core_clients.quantity  %></data></td>
      <td><data style="height: <%= @orion_clients.quantity %>px"><%= @orion_clients.quantity %></data></td>
    </tr>
    <tr>
      <th>Core</th>
      <th>Orion</th>
    </tr>
  </table>
</article>


<article class="chart chart-comparison">
  <h1>Total Locations</h1>

  <table>
    <tr>
      <th><%= @core_locations.quantity %></th>
      <th><%= @orion_locations.quantity %></th>
    </tr>
    <tr>
      <td><data style="height: <%= @core_locations.quantity  %>px"><%= @core_locations.quantity  %></data></td>
      <td><data style="height: <%= @orion_locations.quantity %>px"><%= @orion_locations.quantity %></data></td>
    </tr>
    <tr>
      <th>Core</th>
      <th>Orion</th>
    </tr>
  </table>
</div>
