<!DOCTYPE html>
<html>
<head>
  <title>Orion Progress</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header role="banner">
  <h1>Orion Progress Report</h1>

  <nav role="navigation">
    <ul>
      <li>
        <%= link_to_unless_current("Core vs Orion", root_path) do %>
          <span class="active">Core vs Orion</span>
        <% end %>
      </li>
      <li>
        <%= link_to_unless_current("Monthly Orion Growth", monthlies_path) do %>
          <span class="active">Monthly Orion Growth</span>
        <% end %>
      </li>
    </ul>
  </nav>

</header>

<% unless flash[:notice].blank? %>
  <div class="flash" id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="flash" id="error">
    <%= flash[:error] %>
  </div>
<% end %>


<%= yield %>

</body>
</html>
