<!DOCTYPE html>
<html>
<head>
  <title>Orion Progress</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notice].blank? %>
  <div class="flash" id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="flash" id="error">
    <%= flash[:error] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
